In [6]:
import pandas as pd 
ratings = pd.read_csv('ratings_example.txt',sep = '\t')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [7]:
movies = pd.read_csv('movies_example.txt',sep = '\t')
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
2       31                    Dangerous Minds (1995)                     Drama

In [12]:
ratings.merge(movies,how = 'left',on = 'movieId')

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama
1       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

In [13]:
movies.drop_duplicates(subset='movieId',keep='first',inplace=True)
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller

In [14]:
ratings.merge(movies,how='left',on='movieId')

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama